body{
	margin:0;
	padding: 0;
	background-color: #151515;
}
/*HEADER*/
.container{
	margin-left: 0;
	margin-right: 0;

}
.header{
	max-width:120%;
	height: 8rem;
	border-bottom: solid 0.5rem #FCB900;
	background-color: #282625


}

.header__logo--image{

	position: absolute;
	width: 6.8rem;
	display: inline-block;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	

}

.header__title{
	position: absolute;
	font-size: 2rem;
	color: #FCB900;
	text-transform: uppercase;
	margin-left: 6.3rem;
	padding-top: 5.7rem;
	font-family: 'Shrikhand', cursive;
	
}
/*/HEADER*/


/*SIDEBAR-(izquierda)*/

.sidebar{

	margin-top: 8rem;
	padding-top: 1px;
}

.form__profile{
	
	width: 16rem;
	margin: 1.5rem 0 0 3rem;
	display: block;
	padding: 3rem;
	border: solid 9px #595352;
	background-color: #9F9A96;
	
}

.form__file{
	width: 38.5%;
	margin-left: 9.5%;
	border: solid 5px #595352;
	font-family: 'Shrikhand', cursive;
	color:#151515;

}

.form__text{
	width: 70%;
	height: 90px;
	border: solid 5px #595352;
	margin-top: 1.5rem ;
	margin-left: 10%;
	
}

.form__button{
	width: 22.1rem;
	border: solid 5px #595352;
	margin-left: 3.1rem;
	color:#151515;
	font-family: 'Shrikhand', cursive;
	font-size: 1.3rem;
	

}
/*/SIDEBAR--(izquierda)*/


/*MAIN--(DERECHA)*/

.main{
	position: relative;
	padding-top: 6.55rem;
	margin-left: 33rem;
	float: left;
	height: 330px;

}

.box__profile{
	
	width: 90%;
	position: absolute;
	margin-top: 1rem;
	
}

.box__avatar{

	margin-top:2rem;
	width: 6rem;
	
	
	

}

.box__name{
	text-align: center;
	font-size: 1.8rem;
	color:#FCB900;
	font-family: 'Shrikhand', cursive;

	

}

.box__posteo{
	color:#8D8884;
	text-align: center;
	position: relative;
	display: inline-block;
	font-family: 'Comfortaa', cursive; 
	font-size: 1.3rem;
	background-color: #363231;
	padding-top: 0.7rem;  
	padding-bottom: 0.7rem;   
	

}

.box__heart{
	display: block;
	float: left;
	font-size: 1.15rem;
	margin-top: 0.1rem;
	margin-left: 18rem;
	padding-right: 0;
	color: #464140;
	
}

.box__heart--red{
	color: red;	
}

.box__trash{
	padding-left: 2rem;
	display: block;
	float: left;
	font-size: 1.15rem;
	color: #464140;
	padding-bottom: 1rem;

}

/*/MAIN--(DERECHA)*/


